Hello <?=$user->login?>,
You sent request to change your email to <?=$email?> <br />
To confirm changes click on the following link or copy-paste it in your browser:
<a href="<?=$changeUrl?>"><?=$changeUrl?></a>
After this your email will be changed. <br />
Ignore this message if you didn't want to change email.
If you didn't change your email, you should immediately change password on your <a href="<?=$profileUrl?>">Profile page</a> <br />
WBR, site team
